@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.dayLjTpw {
    background: #fff;
    width: 500px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 1px 1px 20px 5px #ebebeb;
}

.hoLswfCn {
    color: #1a1a1a;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.tpaQDeM {
    font-weight: 600;
    font-size: 15px;
}

p {
    color: #1a1a1a;
    font-size: 14px;
    line-height: 25px;
}

.stZBTwDj {
    align-items: center;
    width: auto;
    font-size: 10px;
    color: #1a1a1a;
    display: flex;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    background-color: #f1f1f1;
}
